body {
  background-color: #9d2222;
}

#header {
  align-content: center;
}

#logo {
  margin-left: auto;
  margin-right: auto;
}
.total-content {
  /* width: 960px; */
  margin-left: auto;
  margin-right: auto;
}
#intro {
  font-family: 'Metal Mania', cursive;
  font-size: 60px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

/* #playfield {
  background-image: url(../splash.png);
  padding-left: 10px;
  margin-left: -10px;
} */

#displayletters {
  height: 250px;
  width: auto;
  background-color: aliceblue;
  font-family: 'Nosifer', cursive;
  color: black;
  align-content: center;
  text-align: center;
  margin-bottom: 30px;
}

#incompleteword {
  height: 250px;
  width: auto;
  background-color: aliceblue;
  font-family: 'Nosifer', cursive;
  color: black;
  align-content: center;
  text-align: center;
  margin-bottom: 30px;
}

#statistics {
  height: 350px;
  width: auto;
  background-color: aliceblue;
  font-family: 'Nosifer', cursive;
  color: black;
  align-content: center;
  text-align: center;
  margin-bottom: 30px;
}

#artist-photo {
  width: 500px;
  height: 500px;
  background: rgb(94, 94, 150);
  align-content: center;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}

#question-mark {
  font-family: 'Metal Mania', cursive;
  font-size: 400px;
  color: white;
  align-content: center;
  margin: 225px;
}

#outerbox {
  /* background: green; */
  width: 750px;
  height: auto;
  z-index: -20;
}
#innerbox {
  background: red;
  border: 2px solid black;
  height: 500px;
  width: 500px;
  position: relative;
  margin-top: -165px;
  margin-left: 95px;
  margin-right: auto;
  z-index: 10;
  opacity: .5;
  align-content: center;
}
#devilleft {
  height: 40%;
  width: auto;
  left:0px;
  top: 15px;
  position: relative;
  z-index: 20;

}
#devilright {
  right:0px;
  top: -10px;
  position: relative;
  z-index: 20;
}

.mainphoto {
  height: 450px;
  width: auto;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-top: 30px;
}

#pause {
  font-family: 'Metal Mania', cursive;
  float: left;
}

#reload {
  font-family: 'Metal Mania', cursive;
  float: right;
}