body {
  background-color: #9d2222;
}

#header {
  background-image: url(../assets/backgrounds/splash.png);
  align-content: center;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  /* align-content: center; */
  /* float: right; */
}
.total-content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#intro {
  font-family: 'Metal Mania', cursive;
  font-size: 60px;
  color: white;
}

#playfield {
  background-image: url(../splash.png);
  padding-left: 10px;
  margin-left: -10px;
}

#artist-photo {
  width: 600px;
  height: 600px;
  background: blue;
  align-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;

  /* font-family: 'Metal Mania', cursive;
  font-size: 150px;
  color: white; */
}

#question-mark {
  font-family: 'Metal Mania', cursive;
  font-size: 400px;
  color: white;
  align-content: center;
  margin: 225px;
}


/* <!-- font-family: 'Nosifer', cursive;
font-family: 'Metal Mania', cursive; --> */